@import "./timeaVariables.css";

.Alert .alert-warning {
  background-color: var(--timea-alert-yellow);
}

.Alert .alert-danger {
  background-color: var(--timea-alert-red);
}

.Alert .alert-success {
  background-color:var(--timea-alert-green);
}

.Alert .alert-info {
  background-color: var(--timea-alert-turquoise);
}