@import "./timeaVariables.css";

/* For general use */
.centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BasePage styling */
.BasePage {
  background-color: var(--timea-background-purple);
  color: var(--timea-text-darkbrown);
  width: 100vw;
}

.BasePage :focus {
  border: 1px solid var(--timea-background-white);
  outline: 4px solid var(--timea-action-purple);
}

.BasePage .Navbar {
  background-color: var(--timea-background-white);
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  color: var(--timea-text-darkbrown);
  border-bottom: 2px solid var(--timea-background-purple);
}

.BasePage .Navbar .css-activatable * {
  color: var(--timea-action-purple);
}

.BasePage header {
   /* sticky navbar */
   position: sticky;
   top: 0;
   z-index: 1;
}

.BasePage .Navbar .col:hover {
  background-color: var(--timea-action-purple);
}

.BasePage .Navbar .col:hover * :not(.dropdown-menu *) {
  color: var(--timea-background-white);
}

.BasePage .Navbar .dropdown-item:hover {
  background-color: var(--timea-action-purple);
  color: var(--timea-background-white)
}

.BasePage .Navbar .timea-active * {
  color: var(--timea-action-purple);
}

.BasePage .Footer {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: var(--timea-background-white);
  border-top: 2px solid var(--timea-background-purple);
}

.BasePage .Navbar .IconButton {
  color: var(--timea-text-darkbrown)
}

.BasePage .Navbar .IconButton .Icon {
  width: 1.5em;
  height: 1.5em;
}

.BasePage .Navbar .dropdown-item .Icon {
  width: 1em;
  height: 1em;
}

.BasePage .card,
.BasePage .card input {
  background-color: var(--timea-background-white);
}


/* .BasePage .card h2 {
  text-align: center;
} */

/* .BasePage .centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
