@import "./timeaColors.css";

.BasePage {
  background-color: var(--timea-dark-brown);
  color: #FFF;
  width: 100vw;
}

.BasePage main {
  min-height: 85vh;
}

.BasePage .Navbar {
  background-color: var(--timea-yellow);
  min-height: 10vh;
  width: 100vw;
  color: var(--timea-dark-brown);
}

.BasePage header {
   /* sticky navbar */
   position: sticky;
   top: 0;
   z-index: 1;
}

.BasePage .Navbar .col:hover {
  background-color: #FFF;
}

.BasePage .Footer {
  min-height: 5vh;
  width: 100vw;
  text-align: center;
}

.BasePage .Footer>div {
  padding-top: .2em;
  background-color: var(--timea-yellow);
  color: var(--timea-dark-brown);
}

.BasePage .Navbar .IconButton {
  color: var(--timea-dark-brown)
}

.BasePage .Navbar .IconButton .Icon {
  width: 1.5em;
  height: 1.5em;
}

.BasePage .Navbar .IconButton:hover:not(.active) {
  color: red
}

.BasePage .Navbar .dropdown-item .Icon {
  width: 1em;
  height: 1em;
}
