@media (max-width:499px) {
  .CreateEventPage .card {
    width: 340px;
    align-items: center;
    margin: 20px auto;
  }
}
@media (max-width:390px) {
  .CreateEventPage .card {
    width: 270px;
    align-items: center;
    margin: 20px auto;
  }
}
@media (min-width:500px) {
  .CreateEventPage .card {
    width: 450px;
    align-items: center;
    margin: 20px auto;
  }
}

.CreateEventPage .Alert {
  position: fixed;
  top: 100px;
  width: 70vw;
  z-index: 2;
  
}





.CreateEventPage h1 {
  /* min-width: 35vw; */
  text-align: center;
}