@media (max-width:499px) {
  .create-event-form textarea {
    width: 280px;
    margin-bottom: 15px;
    background-color: var(--timea-background-white);
  }
  
  .create-event-form input[type="text"] {
    width: 280px;
  }

  .create-event-form input[type="datetime-local"] {
    width: 280px;
  }
}

@media (max-width:390px) {
  .create-event-form textarea {
    width: 220px;
    margin-bottom: 15px;
    background-color: var(--timea-background-white);

  }
  
  .create-event-form input[type="text"] {
    width: 220px;
  }

  .create-event-form input[type="datetime-local"] {
    width: 220px;
  }
}

@media (min-width:500px) {
  .create-event-form textarea {
    width: 340px;
    margin-bottom: 15px;
    background-color: var(--timea-background-white);
  }
  
  .create-event-form input[type="text"] {
    width: 340px;
  }

  .create-event-form input[type="datetime-local"] {
    width: 340px;
  }
}



.create-event-form .btn-active {
  background-color: var(--timea-action-purple);
  color: var(--timea-background-white);
}

.create-event-form .btn .btn-active :hover {
  background-color: var(--timea-action-purple-darker);
  cursor: pointer;
}



.create-event-form input[type="checkbox"]:checked {
  background-color: var(--timea-action-purple);
}