@media (max-width:499px) {
  .CreateEventPage .card {
    width: 340px;
    align-items: center;
    margin-top: 20px;
  }
}
@media (max-width:390px) {
  .CreateEventPage .card {
    width: 270px;
    align-items: center;
    margin-top: 20px;
  }
}
@media (min-width:500px) {
  .CreateEventPage .card {
    width: 450px;
    align-items: center;
    margin-top: 20px;
  }
}





.CreateEventPage h1 {
  /* min-width: 35vw; */
  text-align: center;
}