/* Ilana-Mahmea */

@import "./timeaVariables.css";

.EventPreview h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: .3em;
  margin-right: .3em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid var(--timea-button-grey);
  font-family: var(--timea-heading-font);
}

.EventPreview .card {
  min-width: 320px;
}

.EventPreview .preview-tags li:first-child {
  list-style-type: none;
}

.EventPreview .preview-tags {
  padding-left: 0;
  margin-bottom: 0;
}

.EventPreview .preview-tags li {
  display: inline-block;
  padding: 0 0.5em;
}

/* https://unused-css.com/blog/css-horizontal-lists/ */
.EventPreview .preview-tags li:not(:last-child) {
  border-right: 1px solid #1c1717;
}

.EventPreview dl>div>dt {
  display: inline-block;
  padding: 0 0.5em;
}

.EventPreview dl>div>dd {
  display: inline-block;
}

.EventPreview {
  color: var(--timea-dark-brown);
}

.EventPreview .card {
  max-width: 90vw;
}

.EventPreview .btn {
  border: none;
}

.EventPreview .rsvp-dropdown .btn.active {
  color: var(--timea-action-purple);
}