.EventFeedPage .row {
  justify-content: left;
}

.EventFeedPage .Alert {
  position: sticky;
  top: 15vh;
  z-index: 2;
}

.EventFeedPage .dbMessage {
  margin-left: 1em;
}

.EventFeedPage .EventPreview .card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: var(--timea-background-white);
}

.EventFeedPage .SearchFilterBar {
  background-color: var(--timea-background-white);
  border-top: 1px solid var(--timea-background-purple);
  border-bottom: 1px solid var(--timea-background-purple);
}

.EventFeedPage .SearchFilterBar .btn {
  color: var(--timea-background-white);
}

.EventFeedPage .SearchFilterBar .btn-action {
  background-color: var(--timea-action-purple);
}

.EventFeedPage .SearchFilterBar .btn-action:hover {
  background-color: var(--timea-action-purple-darker);
}

.EventFeedPage .SearchFilterBar .btn-grey {
  background-color: var(--timea-button-grey);
}

.EventFeedPage .SearchFilterBar .btn-grey:hover {
  background-color: var(--timea-button-grey-darker);
}

/* .EventFeedPage .EventPreview.color-0 .card {
  background-color: var(--timea-orange);
}

.EventFeedPage .EventPreview.color-1 .card {
  background-color: var(--timea-blue);
}

.EventFeedPage .EventPreview.color-2 .card {
  background-color: var(--timea-purple);
} */