@import "../stylesheets/timeaVariables.css";

/* Text and text column */

.IndexPage h1 {
  color: var(--timea-blue);
  margin-bottom: 0;
}

.IndexPage .title-row {
  display: block;
  position: sticky;
  top: 0px;
}

.IndexPage .text-col h2 {
  padding: 5px;
  vertical-align: middle;
}

.IndexPage .text-col .description-div {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 75vh;
  overflow: scroll;
  background-color: var(--timea-background-white);
}

.IndexPage .button-row {
  display: block;
  position: sticky;
  bottom: 0px;
  padding: 10px;
  background-color: var(--timea-background-purple);
}

.IndexPage .text-col .btn {
  margin: 10px;
  margin-top: 0px;
  color: var(--timea-background-white);
  font-weight: bold;
}

.IndexPage .text-col .btn-login:focus,
.IndexPage .text-col .btn-login:hover {
  background-color: var(--timea-button-grey-darker);
  border: 3px solid var(--timea-button-grey);
}

.IndexPage .text-col .btn-signup:focus,
.IndexPage .text-col .btn-signup:hover {
  background-color: var(--timea-action-purple-darker);
  border: 3px solid var(--timea-action-purple);
}

.IndexPage .text-col .btn-login {
  background-color: var(--timea-button-grey);
}

.IndexPage .text-col .btn-signup {
  background-color: var(--timea-action-purple);
}

