@import "../stylesheets/timeaColors.css";

.IndexPage {
  background-color: var(--timea-dark-brown);
  color: var(--timea-yellow);
  min-height: 100vh;
}

.IndexPage>.container-fluid {
  padding-left: 0;
}

.IndexPage .login-link {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 1;
  
}
.IndexPage .link {
  color: var(--timea-orange)
}

.IndexPage .col {
  display: flex;
  justify-content: center;
}

.IndexPage .img-col {
  justify-items: left;
  justify-content: left;
}

.IndexPage img {
  max-height: 100vh;
}

.IndexPage .text-col {
  align-items: center;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.IndexPage h1 {
  color: var(--timea-blue);
  margin-bottom: 0;
}

.IndexPage .title-row {
  display: block;
  position: sticky;
  top: 0px;
  background-color: var(--timea-dark-brown);
}

.IndexPage .button-row {
  display: block;
  position: sticky;
  bottom: 0px;
  background-color: var(--timea-dark-brown);
  padding: 10px;
}

.IndexPage .text-col h2 {
  padding: 5px;
  vertical-align: middle;
}

.IndexPage .text-col .description-div {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 75vh;
  overflow: scroll;
}

.IndexPage .text-col .btn {
  margin: 10px;
  margin-top: 0px;
}

.IndexPage .text-col .btn:hover {
  color: white;
}

.IndexPage .text-col .btn-signup {
  background-color: var(--timea-blue);
  font-weight: bold;
}


