/* TODO: add MyEventsPage class to this so it's not global */
.filter-buttons>button {
  margin: 0 10px;
}

.MyEventsPage .EventPreview.color-0 .card {
  background-color: var(--timea-orange);
}

.MyEventsPage .EventPreview.color-1 .card {
  background-color: var(--timea-blue);
}

.MyEventsPage .EventPreview.color-2 .card {
  background-color: var(--timea-purple);
}

.MyEventsPage .btn-focused {
  background-color: var(--timea-action-purple);
  border-color: var(--timea-action-purple);
  padding: 6px 9px;
  color: var(--timea-background-white);
  font: var(--timea-body-font);
  border-radius: 5px;
  box-shadow: none;
}

.MyEventsPage .btn-not-focused {
  background-color: var(--timea-background-purple);
  border-color: var(--timea-action-purple);
  padding: 6px 9px;
  color: var(--timea-action-purple);
  font: var(--timea-body-font);
  border-radius: 5px;
  box-shadow: none;
}


.MyEventsPage .btn-not-focused:hover {
  background-color: var(--timea-action-purple);
  border-color: var(--timea-action-purple);
  padding: 6px 9px;
  color: var(--timea-background-white);
  font: var(--timea-body-font);
  border-radius: 5px;
  box-shadow: none;
}