@import "../stylesheets/timeaVariables.css";

.NotAuthBasePage {
  background-color: var(--timea-background-purple);
  min-height: 100vh;
}

.NotAuthBasePage :focus {
  border: 1px solid var(--timea-background-white);
  outline: 4px solid var(--timea-action-purple);
}

.NotAuthBasePage>.container-fluid {
  padding-left: 0;
}

.NotAuthBasePage .col {
  display: flex;
  justify-content: center;
}

/* Image and image column */

.NotAuthBasePage .img-col {
  justify-items: left;
  justify-content: left;
  overflow: hidden;
}

.NotAuthBasePage .credit-and-disclaimer {
  position: absolute;
  bottom: 1em;
  background-color: var(--timea-background-white);
  width: 40%;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  vertical-align: middle;
}

.NotAuthBasePage .credit-and-disclaimer a {
  font-weight: bolder;
  color: var(--timea-action-purple)
}

.NotAuthBasePage .credit-and-disclaimer p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: small;
}

.NotAuthBasePage .disclaimer {
  font-size: x-small;
}

.NotAuthBasePage img {
  max-height: 100vh;
}

/* Text and text column */

.NotAuthBasePage .text-col {
  align-items: center;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 30px;
}




