@import "../stylesheets/timeaColors.css";

.RegisterPage {
  background-color: var(--timea-dark-brown);
  color: #FFF;
  min-height: 100vh;
}

.RegisterPage>.container-fluid {
  padding-left: 0;
}

.RegisterPage .col {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.RegisterPage .img-col {
  align-items: center;
}

.RegisterPage .form-col {
  margin-top: 10vh;
}

.RegisterForm input {
  min-width: 30vw;
}

.RegisterPage .link {
  color: var(--timea-blue)
}

.RegisterPage .bottom-link {
  margin-bottom: 10vh;
}
