@import "./timeaVariables.css";

.SearchFilterBar {
  padding: 1em;
}

.SearchFilterBar .connector-text {
  font-size: 1.2em;
}

.SearchFilterBar .col-auto,
.SearchFilterBar .FilterComponent {
  margin-top: 3px;
  margin-bottom: 3px;
}
