@import "../stylesheets/timeaVariables.css";

.StyledTagComponent {
  padding: .2em .4em;
  border-radius: 20px;
  background-color: var(--timea-tag-other);
}

.StyledTagComponent.active {
  background-color: var(--timea-tag-active);
}

.StyledTagComponent.drink {
  background-color: var(--timea-tag-drink);
}

.StyledTagComponent.art-craft {
  background-color: var(--timea-tag-art-craft);
}

.StyledTagComponent.food {
  background-color: var(--timea-tag-food);
}

.StyledTagComponent.games {
  background-color: var(--timea-tag-games);
}

.StyledTagComponent.learning {
  background-color: var(--timea-tag-learning);
}

.StyledTagComponent.music-entertainment {
  background-color: var(--timea-tag-music-entertainment);
}

.StyledTagComponent.networking {
  background-color: var(--timea-tag-networking);
}

.StyledTagComponent.outdoor {
  background-color: var(--timea-tag-outdoor);
}

.StyledTagComponent.party {
  background-color: var(--timea-tag-party);
}

.StyledTagComponent.tours-exploration {
  background-color: var(--timea-tag-tours-exploration);
}

.StyledTagComponent.hangout {
  background-color: var(--timea-tag-hangout);
}