@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");

:root {
  /* Colors */

  /* Old colors, get rid of? */
  /* --timea-dark-brown: #282323;
  --timea-orange: #ffa280;
  --timea-yellow: #FBE583;
  --timea-blue: #a0f4ff;
  --timea-purple: #cea3ff; */

  /* New color variables */
  --timea-background-white: #FAFAFA;
  --timea-background-purple: #E8E3ED;
  --timea-text-darkbrown: #282323;
  --timea-action-purple: #6A00D3;
  --timea-action-purple-darker: #5700AD;
  --timea-button-grey: #5C5757;
  --timea-button-grey-darker: #4A4545;
  --timea-button-red: #A91414;
  --timea-button-red-darker: #881111;
  --timea-alert-yellow: #ffe867;
  --timea-alert-red: #FF8F94;
  --timea-alert-green: #4cff82;
  --timea-alert-turquoise: #48ffff;

  --timea-tag-active: #ffba88;
  --timea-tag-drink: #f293fb;
  --timea-tag-art-craft: #c299fc;
  --timea-tag-food: #fbe992;
  --timea-tag-games: #c1ef28;
  --timea-tag-hangout: #46f3f9;
  --timea-tag-learning: #4bc5f1;
  --timea-tag-music-entertainment: #8452f9;
  --timea-tag-networking: #8093f3;
  --timea-tag-outdoor: #52e071;
  --timea-tag-party: #fb747b;
  --timea-tag-tours-exploration: #45efab;
  --timea-tag-other: #c5c4c6;

  /* Fonts */
  --timea-heading-font: "Playfair Display", serif;
  --timea-body-font: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}