@import "./timeaVariables.css";

.UserSettingsPage .Alert {
  z-index: 1;
  position: sticky;
  top: 10vh;
}

.UserSettingsPage h1 {
  text-align: center;
}

.UserSettingsPage main{
  margin-top: 10px;
  margin-bottom: 10px;
}

.UserSettingsPage .UserSettingsForm input {
  /* smallest phone setting on dev tools is 360 wide */
  min-width: 340px;
}

.UserSettingsPage .UserSettingsForm .btn {
  margin: 1em;
  margin-top: .5em;
  margin-bottom: 2em;
  
}

.UserSettingsPage .btn-delete {
  background-color: var(--timea-button-red);
  color: var(--timea-background-white);
}

.UserSettingsPage .btn-delete:hover {
  background-color: var(--timea-button-red-darker);
  color: var(--timea-background-white);
}

.UserSettingsPage .btn-action {
  background-color: var(--timea-action-purple);
  color: var(--timea-background-white);
}

.UserSettingsPage .btn-action:hover {
  background-color: var(--timea-action-purple-darker);
  color: var(--timea-background-white);
}

.UserSettingsPage .btn-grey {
  background-color: var(--timea-button-grey);
  color: var(--timea-background-white);
}

.UserSettingsPage .btn-grey:hover {
  background-color: var(--timea-button-grey-darker);
  color: var(--timea-background-white);
}

.UserSettingsPage .modal {
color: var(--timea-dark-brown)
}